.dashboard{
    /* topography */
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

}
.bell_img{

    height: 36px;
    width: 36px;
    left: 1275px;
    top: 59px;
    border-radius: 0px;
}
.profile_img{
    height: 50px;
    width: 50px;
    left: 1346px;
    top: 50px;
    border-radius: 0px;

}
.search{
    /*  properties*/
    position: absolute;
width: 508px;
height: 42px;
left: 344px;
top: 54px;
}
